.container
  .row.justify-content-center
    .col-md-8
      %h1.text-center ユーザーページ

      .card
        .card-body
          %h2 ユーザー情報

          %p
            %strong ユーザー名:
            = @user.username

          %p
            %strong プロフィール:
            = @user.profile.presence || "（なし）"

          %p
            %strong ブログURL:
            - if @user.blog_url.present?
              -# blog_url に含まれる不要なタグを除去。許可するプロトコルは http と https のみ
              - safe_blog_url = sanitize(@user.blog_url, tags: [], attributes: [], protocols: ['http', 'https'])
              = link_to safe_blog_url, safe_blog_url, target: "_blank"
            - else
              | （なし）

          - if current_user.present? && @user != current_user
            - if current_user.following?(@user)
              = button_to "フォロー解除", relationship_path(@user), method: :delete, class: "btn btn-danger"
            - else
              = button_to "フォローする", relationships_path(following_id: @user.id), method: :post, class: "btn btn-primary"

      %h3 投稿一覧
      - @posts.each do |post|
        = render "posts/post", post: post
      = paginate @posts
