.container
  .row.justify-content-center
    .col-md-8
      .card
        .card-body
          %h2= @user.username
          - if @user.profile.present?
            %p= @user.profile
          - if @user.blog_url.present?
            %p
              ブログ:
              = link_to @user.blog_url, @user.blog_url, target: "_blank"

      %h3 投稿一覧
      - @posts.each do |post|
        .card.mb-2
          .card-body
            %p= post.content
            %small.text-muted= post.created_at.strftime("%Y/%m/%d %H:%M")
