.container
  .row.justify-content-center
    .col-md-6
      .card
        .card-header.text-center
          %h2 ログイン
        .card-body
          = bootstrap_form_with(model: resource, url: session_path(resource_name)) do |f|
            -# ユーザー名入力欄
            .form-group
              = f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control"
            -# パスワード入力欄
            .form-group
              = f.password_field :password, autocomplete: "current-password", class: "form-control"
            -# ログインボタン
            .form-group.text-center
              = f.submit "ログイン", class: "btn btn-primary"
          = render "devise/shared/links"
