%h2 ログイン

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  - if resource.errors.any?
    #error_explanation
      %h2= "#{resource.errors.count} 件のエラーがあります"
      %ul
        - resource.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :username, "ユーザー名"
    = f.text_field :username, autofocus: true, autocomplete: "username"

  .field
    = f.label :password, "パスワード"
    = f.password_field :password, autocomplete: "current-password"

  .actions
    = f.submit "ログイン"
= render "devise/shared/links"