.container
  .row.justify-content-center
    .col-md-8
      %h1.text-center 全体タイムライン

      - if user_signed_in?
        = render "posts/form"
      - else
        %p.text-center
          = link_to "ログイン", new_user_session_path
          または
          = link_to "新規登録", new_user_registration_path
          すると投稿できます。

      = turbo_frame_tag "all_posts", class: "d-block w-100" do
        - @all_posts.each do |post|
          = render "posts/post", post: post
        = paginate @all_posts
