.container
  .row.justify-content-center
    .col-md-8
      %h1.text-center ポスト詳細

      .card
        = render "posts/post_content", post: @post

        %h4 いいねしたユーザー
        = render "posts/liked_users", post: @post

      %h3 コメント
      = render @comments

      = form_with(model: [@post, Comment.new], local: true) do |f|
        .form-group
          = f.text_area :content, class: 'form-control', placeholder: 'コメントを入力してください'
        = f.submit '投稿', class: 'btn btn-primary'


